<ion-content>

    <div class="c-content">

        <div class="o-container">
            <div class=" c-content__title c-content__title--sm">
                <div class="o-flex o-flex-align-top o-flex-between">
                    <a (click)="goBack()">
                        <img class="icon-settings" src="assets/imgs/icon-arrow.svg" alt="">
                    </a>
                    <a (click)="goToSettings()">
                        <img class="icon-settings" src="assets/imgs/icon-instellingen.svg" alt="">
                    </a>
                </div>

                <h1>toilet</h1>

                <div class="o-flex o-flex-align-center o-flex-between toilet-select-wrapper">
                    <a class="toilet-select active" (click)="selectAll()">allemaal</a>
                    <a class="toilet-select" (click)="selectMan()">mannen</a>
                    <a class="toilet-select" (click)="selectWoman()">vrouwen</a>
                </div>
            </div>
        </div>

        <div class="o-container half-color">
            <div class="c-widget c-widget--orange">
                <div class="o-flex o-flex-align-center o-flex-between">
                    <div class="o-flex o-flex-align-center">
                        <p class="c-widget__title u-white">0</p>
                        <p class="c-widget__subtitle u-white">plaatsen<br>vrij</p>
                    </div>
                    <img src="assets/imgs/icon-toilet-paper.svg" alt="">
                </div>
                <a class="button ">
                    <img src="assets/imgs/icon-notification.svg" alt="">
                    stuur een melding
                </a>
            </div>
        </div>
    </div>


    <table class="c-table">
        <tr>
            <th class="text-left">verdieping</th>
            <th *ngIf="male"><img src="assets/imgs/icon-male.svg" alt=""></th>
            <th *ngIf="female"><img src="assets/imgs/icon-female.svg" alt=""></th>
        </tr>
        <tr >
            <td>
                <p class="circle circle--gray">
                    2
                </p>
            </td>
            <td class="text-center" *ngIf="male">
                <span class="brick brick-gray"></span>
            </td>
            <td class="text-center" *ngIf="female">
                <span class="brick brick-orange"></span>
                <span class="brick brick-gray"></span>
            </td>
        </tr>
        <tr>
            <td>
                <p class="circle circle--gray">
                    1
                </p>
            </td>
            <td class="text-center" *ngIf="male">
                <span class="brick brick-gray"></span>
            </td>
            <td class="text-center" *ngIf="female">
                <span class="brick brick-orange"></span>
                <span class="brick brick-gray"></span>
            </td>
        </tr>
        <tr>
            <td>
                <p class="circle circle--gray">
                    0
                </p>
            </td>
            <td class="text-center" *ngIf="male">
                <span class="brick brick-gray"></span>
            </td>
            <td class="text-center" *ngIf="female">
                <span class="brick brick-orange"></span>
                <span class="brick brick-gray"></span>
            </td>
        </tr>
    </table>

</ion-content>
