page-home {

}

$gray: #566f7e;
$background-gray: #f4f5f6;

* {
    color: $gray;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

h1 {
    font-size: 48px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.u-white {
    color: white;
}

.c-widget {
    border-radius: 8px;
    border: solid 1px transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    padding: 16px;
    margin-bottom: 40px;
}

.c-widget--blue {
    background: radial-gradient(circle at 100% 0, #85e5ff, #5979ff), linear-gradient(to bottom, rgba(107, 127, 253, 0), #415bff);
    box-shadow: 0px 18px 55px -15px rgba(89,121,255,1);
}

.c-widget--orange {
    background: radial-gradient(circle at 100% 0, #fcd5a0, #ff7c7e), linear-gradient(to bottom, rgba(255, 81, 101, 0), #ff5165);
    box-shadow: 0px 18px 55px -15px rgba(255,124,126,1);
}

.c-widget-title {
    margin-bottom: 8px;
    font-size: 18px;
}

.c-widget__image {
    margin-bottom: 19px;
}

.c-widget__title {
    font-size: 64px;
    font-weight: bold;
    padding-right: 20px;
}

.c-widget__subtitle {
    font-weight: bold;
    font-size: 28px;
}

.lower {
    margin-top: 35px;
}

.c-subtitle {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.o-flex {
    display: flex;
}

.o-flex-between {
    justify-content: space-between;
}

.o-flex-align-top {
    align-items: start;
}

.o-flex-align-center {
    align-items: center;
}

.o-flex-justify-center {
    justify-content: center;
}

.c-content {
    padding-top: 16px;
    background-color: $background-gray;
}

.c-content--background {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.grid {
    padding: 0;
}

.c-content__title {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 80px;
    position: relative;
}

.c-content__title--sm {
    margin-bottom: 40px;
}

.icon-settings {
    margin-top: 15px;
}

a {
    text-decoration: none;
}

.o-container {
    padding-left: 11px;
    padding-right: 11px;
}

.half-color {
    background: linear-gradient(to bottom, $background-gray 0%, $background-gray 50%, white 50%, white 100%); /* W3C */
}

.c-content-background {
    position: absolute;
    left: -50%;
    height: 100%;
}

.shadow {
    opacity: 0.75;
    filter: blur(10px);
    background-image: radial-gradient(circle at 100% 0, #85e5ff, #5979ff);
}

.parking-map {
    width: 90%;
    margin-top: 40px;
}

.map-legend {
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 40px;

    div {
        margin-bottom: 5px;
    }
}

.circle {
    background-color: white;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 24px;
    font-weight: bold;
    margin-right: 15px;
}

.circle--gray {
    border-color: #d6dce0;
    color: #d6dce0;
}

.circle--yellow {
    border-color: #fcd5a0;
    color: #fcd5a0;
}

.map {
    position: relative;
    padding-bottom: 40px;
}

.button {
    border-radius: 4px;
    background-color: #ffffff;
    color: #ff7c7e;
    text-transform: uppercase;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    img {
        margin-right: 10px;
    }
}

.toilet-select-wrapper {
    border: solid 1px #d6dce0;
    border-radius: 15.5px;
    background-color: white;
    margin-top: 15px;
}

.toilet-select {
    background-color: white;
    border-radius: 15.5px;
    padding: 5px 15px;
    color: #566f7e;
    text-transform: uppercase;

    &, &.active, &.visited, &.focus, &.hover {
        color: #566f7e;
    }

    &.active {
        border: solid 1px #566f7e;
    }
}

.c-table {
    width: 90%;
    margin: 0 auto;
}

.text-left {
    text-align: left;
}

td, th {
    padding: 10px 0;
}

th {
    border-bottom: 1px solid #d6dce0;
}

td {
    border-bottom: 1px solid #f0f1f2;
}

.brick {
    border-radius: 2px;
    width: 14px;
    height: 32px;
    display: inline-block;
}

.brick-gray {
    background-color: #d6dce0;
}

.brick-orange {
    background-color: #ff7c7e;
}

.text-center {
    text-align: center;
}